.close {
  position: absolute;
  width: 50px;
  height: 50px;
  padding: 30px;
  right: 0;
  top: 0;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;

  &::before,
  &::after {
    position: absolute;
    top: 35px;
    right: 20px;
    content: '';
    width: 40px;
    height: 7px;
    background: #e50914;
    display: block;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover {
    transform: scale(1.1);
  }
}